<button (click)="onClick()">
  <span *ngIf="!isShow">
    Show
  </span>

  <span *ngIf="isShow">
    Hide
  </span>

</button>
<ul>
  <li *ngFor="let num of list">
    {{num}}
  </li>
</ul>
<p *ngIf="isShow">
  if-task works!  
</p>
<app-aluth *ngIf="isShow">
  if-task works!
</app-aluth>