<button (click)="onClick()">
  <span *ngIf="!isShow">
    Show this
  </span>
  <span *ngIf="isShow">
    Hide this
  </span>
</button>

<ul>
  <!-- let=variable type 
  number=variable name
  of=key word
  list=array name -->

  <li *ngFor="let number of list"> 
    {{number}}
  </li>
</ul>
<p *ngIf="isShow">
  if task works sucsessfully!
</p>